# Your blog's name, e.g. 'staff' for 'staff.tumblr.com' 
Blog = "CHANGE-TO-YOUR-TUMBLR-BLOG-NAME"

# An OAuth Consumer API key from tumblr. You can register a Tumblr application
# to get one here: http://www.tumblr.com/oauth/apps
Key = "XXXXX"

# The new base URL that you will use for image hosting
ImageBaseURL = "https://www.example.com/images/"

# Where to save images fetched from your tumblr blog
LocalImagePath = "images/"