<li>
    {{ if eq .Title "" }}
    <a href="{{ .Permalink }}">
    <time
        class="pull-right post-list"
        datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">
        {{ .Date.Format "Monday, January 2, 2006" }}
    </time>
    </a>
    {{ else }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <time
        class="pull-right post-list"
        datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">
        {{ .Date.Format "Monday, January 2, 2006" }}
    </time>
    {{ end }}
</li>
