<header>
{{ if .Title }}
    <h1 class="post--title">
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </h1>
    <time
        class="post--date"
        datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">
        {{ .Date.Format "Monday, January 2, 2006" }}
    </time>
{{ else }}
    <h1 class="post--title">
        <a href="{{ .Permalink }}">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z" }}">
                {{ .Date.Format "Monday, January 2, 2006" }}
            </time>
        </a>
    </h1>
{{ end }}
</header>
